{
    "useTabs": false,
    "tabWidth": 4,
    "overrides": [
        {
            "files": ["*.yml", "*.yaml"],
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": "*.go",
            "options": {
                "tabWidth": 8
            }
        }
    ]
}
