<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <div>
        <h1>GREAT BANK<h1>
        <label>Accounts</label><br>
        <form action="/accounts">
            <button type="submit">Accounts</button>
        </form>
        <label>Transfor credits</label><br>
        <form action="/transaction">
            <button type="submit">Transaction</button>
        </form>
        <form action="/test">
            <input name="printTest"></input>
            <button type="submit">Test</button>
        </form>
    </div>
</body>
</html>