<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <title>Admin Page</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div name="createUser">
                        <h3>Create user</h3>
                        <label>Username</label><br />
                        <input id="createUserUsername" /><br />
                        <label>First name</label><br />
                        <input id="createUserFirstname" /><br />
                        <label>Last name</label><br />
                        <input id="createUserLastname" /><br />
                        <button
                            class="btn btn-primary"
                            onclick='createUser(document.getElementById("createUserUsername").value,
                        document.getElementById("createUserFirstname").value,
                        document.getElementById("createUserLastname").value)'
                        >
                            Create
                        </button>
                    </div>
                    <div name="users">
                        <h3>User list</h3>
                        <button
                            class="btn btn-primary"
                            onclick="fillUserList()"
                        >
                            Refresh user list
                        </button>
                        <ul id="userList">
                            <li>Refresh to see users</li>
                        </ul>
                        <button
                            class="btn btn-primary"
                            onclick="changePage(-1)"
                        >
                            Previous page
                        </button>
                        <label id="pageNr">Page: 0</label>
                        <button class="btn btn-primary" onclick="changePage(1)">
                            Next Page
                        </button>
                    </div>
                </div>
                <div class="col-sm-4" name="detailedUser">
                    <h3>User info</h3>
                    <label>User ID</label>
                    <input id="detailedUserUserIDInput" />
                    <button
                        class="btn btn-primary"
                        onclick='findUser(document.getElementById("detailedUserUserIDInput").value)'
                    >
                        Look up</button
                    ><br />
                    <div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label>Username:</label>
                            </div>
                            <div class="col-sm-8">
                                <p id="detailedUserUsername"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label>First name:</label>
                            </div>
                            <div class="col-sm-8">
                                <p id="detailedUserFirstname"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label>Last name:</label>
                            </div>
                            <div class="col-sm-8">
                                <p id="detailedUserLastname"></p>
                            </div>
                        </div>

                        <label>Accounts</label>
                        <ul id="detailedUserAccounts"></ul>
                    </div>
                </div>
                <!--Remember force accounts error checking input box-->
                <div class="col-sm-4" name="correctionTransactions">
                    <h3>Correction transactions</h3>
                    <button class="btn btn-primary">Refresh</button>
                    <ul>
                        <li>Refresh to see corrections</li>
                    </ul>
                    <input />
                    <button class="btn btn-primary">Check account</button>
                </div>
            </div>
        </div>
        <div name="errorDisplay" class="text-center">
            <h3>Error display</h3>
            <p id="errorDisplay"></p>
        </div>

        <script>
            var page = 0;

            async function fillUserList() {
                var res = await jsonRequest("/api/users/" + page, "GET");

                if (res.error) {
                    document.getElementById("errorDisplay").innerHTML =
                        res.error;
                    return;
                }

                document.getElementById("userList").innerHTML = "";
                var list = document.createElement("ul");
                list.classList.add("list-group");
                if (res.users) {
                    for (var i = 0; i < res.users.length; i++) {
                        var item = document.createElement("li");
                        item.classList.add("list-group-item");
                        var div = document.createElement("div");
                        div.appendChild(
                            document.createTextNode(
                                "Username: " + res.users[i].username
                            )
                        );
                        div.appendChild(document.createElement("br"));
                        div.appendChild(
                            document.createTextNode("ID: " + res.users[i].id)
                        );
                        item.appendChild(div);
                        list.appendChild(item);
                    }
                }

                document.getElementById("userList").appendChild(list);
            }

            function changePage(number) {
                page = page + number;
                fillUserList();
                document.getElementById("pageNr").innerHTML = "Page: " + page;
            }

            async function findUser(userID) {
                var res = await jsonRequest("/api/user/" + userID, "GET");

                if (res.error) {
                    document.getElementById("errorDisplay").innerHTML =
                        res.error;
                } else {
                    document.getElementById("detailedUserUsername").innerHTML =
                        res.username;
                    document.getElementById("detailedUserFirstname").innerHTML =
                        res.firstname;
                    document.getElementById("detailedUserLastname").innerHTML =
                        res.lastname;
                    /*
                        document.getElementById("detailedUserAccounts").innerHTML =
                        listMaker(
                            await jsonRequest("/api/accounts/" + userID, "GET")
                        );
                    */
                }
            }

            ///api/user/, "POST", (JSON OBJECT), "JSON"
            function jsonRequest(url, type, data, dataType) {
                var res = $.ajax({
                    url: url,
                    type: type,
                    data: data,
                    dataType: dataType,
                    success: function (result) {
                        return result;
                    },
                    error: function (error) {
                        return error;
                    },
                });

                return res.catch((error) => {
                    return error.responseJSON;
                });
            }

            function createUser(username, firstname, lastname) {
                var user = {
                    username: username,
                    firstname: firstname,
                    lastname: lastname,
                };
                jsonRequest("/api/user/", "POST", JSON.stringify(user), "JSON");
                fillUserList();
            }
        </script>
        <script>
            //init site
            fillUserList();
        </script>
    </body>
</html>
