<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <title>Homepage</title>
    </head>
    <body>
        <div class="col text-center">
            <label>User id</label><br />
            <input id="userIDInput" />
            <button class="btn btn-primary" onclick="logIn()">Log in</button
            ><br />
        </div>
        <div class="container">
            <div class="col-sm-6" name="accounts">
                <div name="userDetails">
                    <h3>User details</h3>
                    <div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label>User ID:</label>
                            </div>
                            <div class="col-sm-8">
                                <p id="detailedUserID"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label>Username:</label>
                            </div>
                            <div class="col-sm-8">
                                <p id="detailedUserUsername"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label>First name:</label>
                            </div>
                            <div class="col-sm-8">
                                <p id="detailedUserFirstname"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label>Last name:</label>
                            </div>
                            <div class="col-sm-8">
                                <p id="detailedUserLastname"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div name="userAccounts">
                    <h3>Accounts</h3>
                    <label>Account name</label><br />
                    <input id="newAccountName" />
                    <button
                        class="btn btn-primary"
                        onclick='createAccount(document.getElementById("newAccountName").value)'
                    >
                        Create account
                    </button>
                    <br />
                    <ul id="accounts"></ul>
                </div>
            </div>
            <div class="col-sm-6">
                <div name="accountDetails">
                    <h3>Account details</h3>
                    <div class="row">
                        <div class="col-sm-4">
                            <label>Account name:</label>
                        </div>
                        <div class="col-sm-8">
                            <p id="detailedAccountName"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <label>Balance:</label>
                        </div>
                        <div class="col-sm-8">
                            <p id="detailedBalance"></p>
                        </div>
                    </div>

                    <ul id="detailedTransactionHistory"></ul>
                </div>
                <div name="transaction">
                    <h3>Transfor</h3>
                    <label>Sending account</label><br />
                    <select id="accountSelect"></select>
                    <button
                        class="btn btn-primary"
                        onclick='fillAccountSelect(document.getElementById("accountSelect"))'
                    >
                        Refresh select</button
                    ><br />
                    <label>Receiving account</label><br />
                    <input id="targetAccount" /><br />
                    <label>Amount</label><br />
                    <input id="transactionAmount" /><br />
                    <button
                        class="btn btn-primary"
                        onclick='transforCredits(document.getElementById("accountSelect").value, document.getElementById("targetAccount").value, document.getElementById("transactionAmount").value)'
                    >
                        Transfor credits
                    </button>
                </div>
            </div>
        </div>

        <script>
            var userID;
            var selectedAccount = null;

            function logIn() {
                userID = document.getElementById("userIDInput").value;
                fillUserDetails(
                    document.getElementById("detailedUserID"),
                    document.getElementById("detailedUserUsername"),
                    document.getElementById("detailedUserFirstname"),
                    document.getElementById("detailedUserLastname")
                );
                fillAccountList();
            }

            async function createAccount(accountName) {
                var account = { name: accountName, ownerid: userID };
                await jsonRequest("/api/account/", "POST", account, "JSON");
                fillAccountList();
            }

            function jsonRequest(url, type, data, dataType) {
                var res = $.ajax({
                    url: url,
                    type: type,
                    data: JSON.stringify(data),
                    dataType: dataType,
                    success: function (result) {
                        return result;
                    },
                    error: function (error) {
                        return error;
                    },
                });

                return res.catch((error) => {
                    return error.responseJSON;
                });
            }

            async function getAccounts() {
                var accountsRes = await jsonRequest(
                    "/api/accounts/" + userID,
                    "GET"
                );
                return accountsRes.accounts;
            }

            async function fillAccountList() {
                var accounts = await getAccounts();
                var accountsList = document.createElement("ul");
                accountsList.classList.add("list-group");
                if (accounts) {
                    for (var i = 0; i < accounts.length; i++) {
                        var item = document.createElement("li");
                        item.classList.add("list-group-item");
                        var div = document.createElement("div");

                        var aidp = document.createElement("p");
                        aidp.innerHTML = "Account ID: " + accounts[i].id;
                        div.appendChild(aidp);

                        var anp = document.createElement("p");
                        anp.innerHTML = "Account name: " + accounts[i].name;
                        div.appendChild(anp);

                        var abp = document.createElement("p");
                        abp.innerHTML =
                            "Account balance: " + accounts[i].balance;
                        div.appendChild(abp);

                        item.appendChild(div);
                        item.id = accounts[i].id;
                        item.onclick = function () {
                            showAccountDetails(this.id);
                        };
                        accountsList.appendChild(item);
                    }
                }
                document.getElementById("accounts").innerHTML = "";
                document.getElementById("accounts").appendChild(accountsList);
                fillAccountSelect(document.getElementById("accountSelect"));
            }

            async function showAccountDetails(accountID) {
                if (selectedAccount != null) {
                    selectedAccount.classList = "";
                    selectedAccount.classList.add("list-group-item");
                }
                selectedAccount = document.getElementById(accountID);
                selectedAccount.classList.add("active");

                var account = await jsonRequest(
                    "/api/account/" + accountID,
                    "GET"
                );

                document.getElementById("detailedAccountName").innerHTML =
                    "Account name: " + account.name;
                document.getElementById("detailedBalance").innerHTML =
                    "Balance: " + account.balance;

                var res = await jsonRequest(
                    "/api/transaction-histories/" + accountID
                );

                var transactionList = document.createElement("ul");
                transactionList.classList.add("list-group");

                if (res.transactionhistories) {
                    for (var i = 0; i < res.transactionhistories.length; i++) {
                        if (res.transactionhistories[i].type == 0) {
                            var item = document.createElement("li");
                            item.classList.add("list-group-item");
                            var div = document.createElement("div");
                            var tidp = document.createElement("p");
                            tidp.innerHTML =
                                "Transaction ID: " +
                                res.transactionhistories[i].transaction.id;
                            div.appendChild(tidp);

                            var tsaidp = document.createElement("p");
                            tsaidp.innerHTML =
                                "Sender account ID: " +
                                res.transactionhistories[i].transaction
                                    .senderaccountid;
                            div.appendChild(tsaidp);

                            var traidp = document.createElement("p");
                            traidp.innerHTML =
                                "Receiver account ID: " +
                                res.transactionhistories[i].transaction
                                    .receiveraccountid;
                            div.appendChild(traidp);

                            var tcap = document.createElement("p");
                            tcap.innerHTML =
                                "Credit amount: " +
                                res.transactionhistories[i].transaction.amount;
                            div.appendChild(tcap);

                            var tsp = document.createElement("p");
                            if (res.transactionhistories[i].status == "1") {
                                tsp.innerHTML = "Status: complete";
                                div.classList.add("alert");
                                div.classList.add("alert-success");
                            } else if (
                                res.transactionhistories[i].status == "2"
                            ) {
                                tsp.innerHTML = "Status: failed";
                                div.classList.add("alert");
                                div.classList.add("alert-danger");
                            } else {
                                tsp.innerHTML = "Status: pending";
                                div.classList.add("alert");
                                div.classList.add("alert-warning");
                            }
                            div.appendChild(tsp);

                            item.appendChild(div);
                            transactionList.appendChild(item);
                        }
                    }
                }
                var transactionListElement = document.getElementById(
                    "detailedTransactionHistory"
                );

                transactionListElement.innerHTML = "";
                transactionListElement.appendChild(transactionList);
            }

            async function fillAccountSelect(select) {
                var accounts = await getAccounts();
                select.innerHTML = "";
                if (accounts) {
                    for (var i = 0; i < accounts.length; i++) {
                        var opt = document.createElement("option");
                        opt.value = accounts[i].id;
                        opt.innerHTML = accounts[i].name;
                        select.appendChild(opt);
                    }
                }
            }

            function transforCredits(
                senderAccountID,
                receivingID,
                creditAmount
            ) {
                var data = {
                    senderaccountid: senderAccountID,
                    receiveraccountid: receivingID,
                    amount: Number(creditAmount),
                };
                jsonRequest("/api/transaction/", "POST", data, "JSON");
            }

            async function fillUserDetails(
                idElement,
                usernameElement,
                firstnameElement,
                lastnameElement
            ) {
                var res = await jsonRequest("/api/user/" + userID, "GET");
                idElement.innerHTML = "User ID: " + userID;
                usernameElement.innerHTML = "Username: " + res.username;
                firstnameElement.innerHTML = "First name: " + res.firstname;
                lastnameElement.innerHTML = "Last name: " + res.lastname;
            }
        </script>
    </body>
</html>
